
@model DiabetesHelper.PL.ViewModels.RegisterViewModel
@{
	ViewData["Title"] = "Register";//ده بيحدد عنوان الصفحة (هيظهر في التاب في المتصفح)، والـ Layout بيستخدمه كد
}
<h2>@ViewData["Title"]</h2>
<form asp-action="Register" method="post">
	@*For Password*@
	<div class="mb-3">
		<label asp-for="FullName" class="form-label"></label>
		<input asp-for="FullName"  class="form-control"/>
		<span asp-validation-for="FullName" class="text-danger"></span>
	</div>
	@*For Email*@
	<div class="mb-3">
	<label asp-for="Email" class="form-label"></label>
	<input asp-for="Email" class="form-control"/>
	<span asp-validation-for="Email" class="text-danger"></span>
	</div>
	@*For Email*@
	<div class="mb-3">
	<label asp-for="Password"class="form-label"></label>
	<input asp-for="Password" type="password" class="form-control" />
	<span asp-validation-for="Password" class="text-danger"></span>	
	</div>
	@*For Confirmed Password*@
	<div class="mb-3">
	<label asp-for="ConfirmPassword"class="form-label"></label>
	<input asp-for="ConfirmPassword" type="password" class="form-control" />
	<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
	</div>
	@*Submit Form*@
	<button type="submit" class="btn btn-primary">Register</button>
</form>
