@model DiabetesHelper.PL.ViewModels.GlucoseReadingViewModel

<h2>Add Glucose Reading</h2>

<form asp-action="Add" method="post">
    <div>
        <label asp-for="Value"></label>
        <input asp-for="Value" />
        <span asp-validation-for="Value"></span>
    </div>

    <div>
        <label asp-for="Date"></label>
        <input asp-for="Date" type="datetime-local" />
        <span asp-validation-for="Date"></span>
    </div>

    <div>
        <label asp-for="ReadingType"></label>
        <select asp-for="ReadingType" asp-items="Html.GetEnumSelectList<DiabetesHelper.DAL.Enums.ReadingType>()">
            <option value="">-- Select Type --</option>
        </select>
        <span asp-validation-for="ReadingType"></span>
    </div>

    <button type="submit">Save</button>
</form>
