@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to Diabetes Helper</h1>
    <p class="lead">Manage your blood sugar with ease</p>

    <div class="mt-4">
        <a href="/Account/Login" class="btn btn-primary mx-2">Login</a>
        <a href="/Account/Register" class="btn btn-success mx-2">Register</a>
    </div>
</div>
